\:root
  --c-logo-bd: #ddd
  --c-logo-bg: white
  --c-grid: #ddd
  --c-grid-bg: #f1f1f1
  --c-nav-bg: #249889
  --c-nav-item-bg: #249889
  --c-nav-a-fg: white
  --c-nav-a-fg-dim: #eee
  --c-header-bg: #118572
  --c-footer-bg: white
  --c-footer-fg: #888
  --c-footer-link-fg: #389980
  --c-item-title: #56a49b
  --c-item-img-bg: #888
  --c-item-note: #888
  --c-news-bg: white
  --c-find-bg: #c8c8c8
  --c-find-fg: #888
  --c-find-input-bg: white
