\:host
  border: 1px solid var(--c-grid)
  background: white
  padding: 20px 10px
  .title
    color: var(--c-item-title)
    font-weight: 600
  .cover
    margin: 20px 0 10px
    background: var(--c-item-img-bg)
    height: 160px
  .desc
    display: -webkit-box
    height: 200px
    overflow: hidden
    font-size: 14px
    line-height: 20px
    text-overflow: ellipsis
    -webkit-line-clamp: 10
    -webkit-box-orient: vertical
  .note
    padding-top: 10px
    color: var(--c-item-note)
    font-size: 14px
